<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="pizzaria-name">PEZZO SG</h3>
        <ul class="nav footer-nav">
            <li>
                <img src="images/fb-logo.png">
            </li>
            <li>
                <img src="images/telephone-icon3.png"><span class="enlarge-font">66-36-36-36</span>
            </li>
        </ul>
    </div>
</footer>
