@page "/"

<section class="content-section container">
    <div class="container">
        <p class="index-section-header">
            BUY <span class="red-font enlarge-font">1</span> GET <span class="red-font enlarge-font">1 FREE!</span> <br>
            From <span class="red-font enlarge-font">ALL</span> Pizza Categories, <span class="red-font enlarge-font">WEEKDAYS ONLY!</span>
        </p>
    </div>
    <button onclick="window.location.href = 'order'" role="button" class="button button-orderNow">ORDER NOW!</button>
</section>
